# local package
-e .
pandas
numpy
scikit-learn
matplotlib
seaborn

# external requirements
- langchain #~=0.0.352
- pypdf
- sentence-transformers #==2.2.2
- huggingface_hub
- accelerate
- torch #~=2.1.2
- transformers #~=4.36.2

# select the one based on your hardware
# faiss-gpu
faiss-cpu
